html {
    min-height: 100%;
    position:relative;
}
html *
{
    font-family: Roboto, serif !important;
}

.fullHeight {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-pane {
    width:80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.qChoicesCard {
    width:80%;
    margin-right: auto;
    margin-left: auto;
}

#questionsHeader {
    margin-top: -15px;
    color: rgba(0, 0, 0, 0.63);
}

.fixSelectAlign {
    margin-top: -0.45em;
}

.saveButton {
    border-radius: 5px;
    margin-top: 50px;
    padding: 5px;
    border: 1px solid #e2e1e1;
}

.questTitleToolbar {
    background-color: rgb(60, 75, 156);
}

.question, .questionChoices {
    padding: 15px;
}

.surveyResultsButton {
    padding: 5px;
}

.surveyResultsContainer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.totalAnswers {
    padding: 5px;
    text-align: center;
    color: green;
    font-weight: 700;
    font-size: 20px;
}

.questionStatsDiv {
    padding: 40px;
    border-top: 1px solid #ccc;
}

.correlationValue {
    margin-top: 10px;
}
.npcorrelationValue {
    margin-top: 10px;
    text-align: center;
}
.correlationDiv, .regressionDiv, .ttestDiv, .multicriterialRankingDiv {
    margin-bottom: 30px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}
.md-input-container .md-errors-spacer {
    min-height: 0;
}
.invalidLoginDiv {
    text-align: center;
}
.invalidLoginDiv h4 {
    color: red;
}
#stdevVal {
    margin-bottom: 10px;
}
.table {
    width: 50%;
    margin: 0px auto;
}
.surveyStatsContent {
    background: #efefef;
}
.saveOk, .saveNOk {
    padding: 10px;
}
.saveOk p {
    color: green;
    font-weight: 700;
    font-size: 16px;
}
.saveNOk p {
    color: red;
    font-weight: 700;
    font-size: 16px;
}