html {
    height: 100%;
}
html *
{
    font-family: Roboto, serif !important;
}

body {
    background-color: #efefef;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.content-pane {
    width:80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.qChoicesCard {
    width:80%;
    margin-right: auto;
    margin-left: auto;
}

#questionsHeader {
    margin-top: -15px;
    color: rgba(0, 0, 0, 0.63);
}

.fixSelectAlign {
    margin-top: -0.45em;
}

.saveButton {
    border-radius: 5px;
    margin-top: 50px;
    padding: 5px;
    border: 1px solid #e2e1e1;
}

.questTitleToolbar {
    background-color: rgb(60, 75, 156);
}

.question, .questionChoices {
    padding: 15px;
}

.surveyResultsButton {
    padding: 5px;
}

.surveyResultsContainer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.totalAnswers {
    padding: 5px;
    text-align: center;
    color: green;
    font-weight: 700;
    font-size: 20px;
}