<div ng-controller="surveyStatsController as vm">

    <md-content class="md-padding" layout="column">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools questTitleToolbar">{{vm.survey.title}}</div>
        </md-toolbar>
        <md-subheader class="md-primary">{{vm.survey.description}}</md-subheader>
        <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="question in vm.survey.questions track by $index">
            <md-card class="surveyResultsContainer">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline text-center">{{question.question_text}}</span>
                    </md-card-title-text>
                </md-card-title>
                <div style="height: 600px; width: 100%;" ng-if="vm.amChartOptions[question.question_id]">
                    <am-chart id="chart{{question.question_id}}" options="vm.amChartOptions[question.question_id]"></am-chart>
                </div>
                <div class="questionStatsDiv">
                    <table class="table table.bordered">
                        <thead >
                            <tr>
                                <th>Standard Deviation</th>
                                <th>Random stat #2</th>
                                <th>Random stat #3</th>
                                <th>Random stat #4</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>{{vm.surveyStats[question.question_id].stdev}}</td>
                            <td>69.69</td>
                            <td>5.69</td>
                            <td>8.99</td>
                        </tr>
                    </table>
                    <div class="correlationDiv">
                        <md-input-container class="md-block fixSelectAlign" flex-gt-sm>
                            <label>View correlation with question: </label>
                            <md-select ng-change="vm.calculateCorrelation(question.question_id, question.correlationWith)" ng-model="question.correlationWith">
                                <md-option ng-value="question.question_id" ng-repeat="question in vm.survey.questions track by $index">{{question.question_text}}</md-option>
                            </md-select>
                        </md-input-container>
                        <div class="correlationValue" ng-if="vm.surveyStats[question.question_id].pearsonCoefficient">
                            <p>The Pearson correlation coefficient with the selected question is: <strong>{{vm.surveyStats[question.question_id].pearsonCoefficient}}</strong></p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient == -1">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is a perfect downhill (negative) linear relationship between the answers of the two selected questions.</p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient < -1 && vm.surveyStats[question.question_id].pearsonCoefficient > -0.7">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is a strong downhill (negative) linear relationship between the answers of the two selected questions.</p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient > -0.7 && vm.surveyStats[question.question_id].pearsonCoefficient < -0.3">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is a moderate downhill (negative) relationship between the answers of the two selected questions.</p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient >-0.3 && vm.surveyStats[question.question_id].pearsonCoefficient<0">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is a weak downhill (negative) linear relationship between the answers of the two selected questions.</p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient == 0">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is no linear relationship between the answers of the two selected questions.</p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient >0 && vm.surveyStats[question.question_id].pearsonCoefficient< 0.3">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is a weak uphill (positive) linear relationship between the answers of the two selected questions.</p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient >0.3 && vm.surveyStats[question.question_id].pearsonCoefficient<0.7">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is a moderate uphill (positive) linear relationship between the answers of the two selected questions.</p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient >0.7 && vm.surveyStats[question.question_id].pearsonCoefficient<1">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is a perfect downhill (negative) linear relationship between the answers of the two selected questions.</p>
                            <p ng-if="vm.surveyStats[question.question_id].pearsonCoefficient == 1">A Pearson Coefficient of {{vm.surveyStats[question.question_id].pearsonCoefficient}} signifies that there is a perfect uphill (positive) linear relationship between the answers of the two selected questions.</p>
                        </div>
                        <div id="chartdiv{{question.question_id}}" style="height: 400px;width: 100%;"></div>
                    </div>
                </div>
            </md-card>
        </div>
    </md-content>

</div>